*{
	padding: 0;
	margin:0;
}
html{
	height: 100%;
}

body{

	height: 100%;
	background: rgb(55,125,177);
}

header{
	margin: auto;
	background: white;
	width: 100%;
	height: 100px;
}

.container-1{
	float: right;
	margin-top: 20px;
	width: 22%;
	height: 40px;
	margin-right: 8%;
	padding-top: 15px;
}

.btn1{
	border: none;
	background: silver;
	color: white;
	width: 40px;
	height: 20px;
}

.container-1 input#search{
	margin-left: 5px;
	border: 1px solid gray;
	border-radius: 5px;
	padding:5px 5px;
	height: 20px;
	font-size: 10pt;
}

header img{
	width: 20%;
	height: 80px;
	position: relative;
	left: 8%;
	top: 5px;
}

main{
	font-family: 'Tajawal', sans-serif;
}

aside{
	float:left;
	width: 30%;
	margin-left: 1%;
	margin-top: 1%;
	background: rgb(92,174,63);
	padding: 10px;
	border-radius: 15px;
	border: 2px solid black;
}

aside hr{
	width: 65%;
	margin: auto;
	margin-top: 8px;
	border: 1px dashed black;
}

aside h3{
	text-align: center;
	font-size: 120%;
	font-weight: bold;
}

#top{
    position: absolute;
    z-index: -1;
}

#bottom{
	position: absolute;
	top: 60%;
	z-index: -1;
}

#der{
	position: absolute;
	text-align: center;
	background-repeat: no-repeat;
	padding: 0;
	left: 33%;
	width: 65%;
	height: 74%;
	z-index: -1;
}

#der img{
	width: 100%;
	position: absolute;
	top: 0;
	border-radius: 15px;
	height: 100%;
	z-index: -1;
	left: 0;
}

aside table{
	margin-top: 10px;
}

aside table th{
	font-size: 100%;
	text-align:left;
	padding: 4px;
}

#bInfo{
	margin: auto;
	margin-top: 15px;
	padding-top: 15px;
	width: 90%;
	font-size: 120%;
}

#bInfo label{
	font-weight: bold;
	margin-left: 15px;
}

#bInfo input[type=text]{
	width: 75%;
	padding: 5px 5px;
	border: 1px solid black;
	font-size: 80%;
	color: rgb(92,174,63);
}

#bInfo #BbInfo{
	width: 14%;
	border-radius: 5px;
	background: rgb(92,174,63);
	border: 1px solid black;
	font-size: 80%;
	height: 32px;
}

#info{
	border-radius: 15px;
	border: 1px solid silver;
	background: white;
	margin: auto;
	margin-top: 25px;
	padding-top: 15px;
	width: 80%;
	height: auto;
}

#info h2{
	text-align: center;
}

#info a{
	transition: color 1s ease-in-out 0s, background-color 450ms ease-in-out 0s;
	color: black;
	text-decoration: none;
	display: block;
	padding: 10px 50%;
	white-space: normal;
}

#info a:hover{
	background-color: #F55856;
	color: #FFF;
}

#info table{
	width: 90%;
	margin:auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

#info table, #info table th, #info table td{
	border:  1px solid black;
	border-collapse: collapse;
}

#info table th, #info table td{
	font-size: 120%;
	padding: 10px 0px;
}

#pag{
	text-align: center;
}


#form table{
	margin-left: 20px;
	width: 90%;
	margin: auto;
}

#form th{
	width: 8%;
	text-align: left;
}

#form td{
	width: 100%;
}

#encima{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("../img/fondo1.jpg");
}

#rfc{
	text-transform: uppercase;
}

#sub input[type=text], #sub input[type=email], #sub input[type=number]{
	width: 95%;
	margin-left: 2%;
	padding: 5px 5px;
}

.banDatos{
	margin: 10px 0px;
	padding: 10px 0px;
}

.banDatos a:hover{
	color:silver;
}

#editable{
	display: none;
	font-family: 'Tajawal', sans-serif;
	background: #FFF;
	width: 70%;
	margin: auto;
	background-image: 
		linear-gradient(90deg,transparent 79px,#d4abbf 79px,#d4abbf 84px, transparent 81px),
		linear-gradient(#eee .1em, transparent .1em);
	padding: 30px 100px 30px;
	background-size: 100% 30px;
}

#editable label{
	line-height: 30px;
	padding: 0;
	margin:0;
}

.cerrar{
	position: absolute;
	top: 10px;
	left: 92%;
}

#editable input{
	font-family: 'Tajawal', sans-serif;
	height: 20px;
	border: 0.5px solid #EEE;
}

.wrande{
	width: 45%;
	margin-right: 1%;
}

.small{
	width: 10%;
	margin-right: 1%;
}

.middle{
	width: 15%;
	margin-right: 1%;	
}

#form{
	background: white;
	font-family: 'Tajawal', sans-serif;
	width: 80%;
	position: absolute;
	top:15%;
	left: 10%;
	border-radius: 10px;
	border: 1px solid black;
	height: 70%;
}

#form h2{
	text-align: center;
}