nav{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    background: rgb(92,174,63);
}

nav ul{
    margin:0;
    padding: 0;
    list-style: none;
    position: relative;
}

nav ul li a{
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    width: 80%;
}

nav ul:after{
    content: ""; 
    clear: both;
    display: block;
}

nav ul li{
    float: left;
    list-style: none;
    width: 20%;
}

nav ul ul{
    display: none;
}

nav ul li:hover > ul{
    display: block;
}

nav ul li:hover a{
    background: white;
    transition: 0.9s;
}

nav ul li:hover a{
    color: black;
}

nav ul ul{
    background: black;
    padding: 0;
    margin:0;
    position: absolute;
    top: 100%;
}

nav ul ul li{
    float: none;
    position: relative;
}

nav ul ul li a{
    padding:15px;
    color: white;
    width: 242px;
    text-align: left;
}

nav ul li a:hover{
    background: lightblue;
    color:black;
    transition:0.9s;
}


@media all and (max-width: 980px){
    nav{
        width: 100%;
    }   

    nav ul li a{
        padding:9%;
        font-size: 60%;
    }

    nav ul li{
        width: 20%;
    }

    nav ul ul li{
        font-size: 100%;
    }
}

